@font-face {
	font-family: Roboto;
	src: local(Roboto),
        url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style: oblique;
}

.common-grid {
        flex-direction: row;
        font-family: Roboto;
        letter-spacing: 0.1px;
        border: #0c4c67;
        border-width: 1px;
        border-style: solid;
}

.header-menu {
        background-color: #2E2966;
        width: 100%;
        height: 56px;
}

.category-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        link: #3C30BF;
}
.form-and-table {
        display: block;
        justify-content: start;
        margin: 10px;

}
.right-news {
        display: block;
        margin: 10px;
}
.category-header-line {
        display: flex;
        justify-content: space-between;
}
.category-name-header {
        font-size: 24px;
        font-weight: bolder;
        letter-spacing: 0;
        line-height: 28px;

}
.form-reset {
        display: inline-block;

}
.form-reset span {
        font-size: 14px;
        letter-spacing: 0.1px;
        line-height: 24px!important;
        text-align: right;
        vertical-align: bottom;
}


.filter-form {
        background-color: #F5F4F2;
        border-radius: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
        display: inline-block;

}
.form_blocks {
        display: flex;
        margin-right: 8px;

}

.form_block_buttons {
        justify-content: space-around;
        margin-left: 8px;
        }
.form_block_header {
        color: rgba(0, 0, 0, 0.88);
        font-size: 18px;
        letter-spacing: 0.1px;
        line-height: 24px;
        font-weight: bolder;


}

.form_subtypes {
        color: rgba(0,0,0,0.63);
        font-size: 14px;
        letter-spacing: 0.1px;
        font-weight: bolder;
        line-height: 20px;
        margin-top: 2px;
}
.form_block_buttons input[type=checkbox] {
	display:none;
}
.form_block_buttons input[type=checkbox] + label {
        box-sizing: border-box;
        display: block;
        height: 32px;
        width: 380px;
	    padding: 4px 12px;
	    margin-bottom: 2px;
        border: 1px solid rgba(0,0,0,0.25);
        border-radius: 4px;
        background-color: #FFFFFF;
	    line-height: 24px;
	    text-align: left;
	    vertical-align: middle;
	    cursor: pointer;
        position: relative;

        }
.form_block_buttons input[type=checkbox]:hover + label {
        background-color: #c5d3ee;


}
.form_block_buttons input[type=checkbox]:checked + label {
        background-color: #4B4A8A;
        color: #F5F4F2;
        /*transition: background-color 12s ease; */
}
.form_block_buttons input[type=checkbox]:disabled + label {
        background-color: #F5F4F2;
        color: #ababa8;

}
.fil-butt-int {

        display: inline-grid;
        position: absolute;
        right: 12px;
        top: 8px;
        height: 32px;
        width: 24px;
        vertical-align: middle;
}
.form_block_buttons input[type=checkbox]:checked + label > .check-galka {
        background:url('pict/Check mark white-1.png') no-repeat;
        /*background-size: 100%;*/
}
.tabs-header.tab-active {
        background-color: #4B4A8A;
        color: #F5F4F2;
}
.tabs-header input[type=radio] {
        display: None;
}
.tabs-header {
        display: inline-block;
        padding-left: 12px;
        padding-right: 16px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        cursor: pointer;
}
.tabs-header:hover {
        background-color: #E6E8F2;
}
.tabs-header:hover.tab-active {
        background-color: #4B4A8A;
}
.tabs-header span {
        padding-left: 4px;
        cursor: pointer;
}
.tabs-header img {
        vertical-align: top;
        cursor: pointer;

}

.issuance-tabs > .tab-item {
        display: None;
        border-top: 1px solid rgba(0,0,0,0.25);
}

.issuance-tabs .tab-active#marketability_ ~ .tab-item#marketability_ {
        display: block;
}

.issuance-tabs .tab-active#novelity_ ~ .tab-item#novelity_ {
        display: block;
}

.table-data {
        box-sizing: border-box;
        width: 100%;
}
.collapse-table-row {
        display: none;

}

.th-tbl {
        color:  rgba(0,0,0,0.63);
        font-size: 16px;
        font-weight: bolder;
        letter-spacing: 0.1px;
        line-height: 24px;
        text-align: left;
}
.table-row {
        height: 48px;
        font-size: 16px;
        letter-spacing: 0.1px;
        line-height: 24px;
        text-align: left;

}
.table-row  > td {
        border-top: 1px solid rgba(0,0,0,0.13);
        border-left: 0px;
        border-right: 0px;
}
.table-row > td > a {
        font-weight: bolder;
        letter-spacing: 0.1px;
        line-height: 24px;
        text-align: left;
        link: #3C30BF;
        link-font-style: normal;
        padding-left: 12px;
         text-decoration: none;
}
