.form_blocks {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.form_my_buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 300px;
}
.form_my_buttons_padding {
    padding-bottom: 5px;
}
.disabled_grey {
    color: #bbbbbb!important;
    border-color: #bbbbbb!important;
}

li.nav-item > a.nav-link {

    color: #205067;


}

li.nav-item > a.nav-link.active
{
    background: #c7d7d7;
    border-color: #c7d7d7;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab-content{
    background: #c7d7d7;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom-right-radius: 30px;
}
.vardata{
    color: #205067;
    font-style: italic;
    font-weight: bold;
    font-size: x-small;

}
.vardata > span {
    color:darkred;
    font-style: italic;
    font-weight: lighter;
}
.footnote {
    color: #205067;
    font-style: italic;
    font-weight: bold;
    font-size: x-small;
}
.message {
    color: #205067;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    border-style: dashed;
    border-color: #205067;
    padding-left: 20px;
    border-radius: 10px;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}
.general-grid-category {
    display: flex;

}
.right-col-category {
    border-color: #205067;
    font-size: smaller;
    margin-left: 10px;

}
.link-annotation {
    color: #205067;
    line-height: 70%!important;
}
.link-text {
    color: darkcyan;
    line-height: 1px!important;
    font-weight: bold;
}
.left-content {

}
