.form_blocks {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.form_my_buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 300px;
}
.form_my_buttons_padding {
    padding-bottom: 5px;
}
.button_text {
    letter-spacing: 1px;
    font-weight: bold;

}
.disabled_grey {
    color: #8e8e8e!important;
    border-color: #8e8e8e!important;
}

li.nav-item > a.nav-link {

    color: #205067;


}

li.nav-item > a.nav-link.active
{
    background: #c7d7d7;
    border-color: #c7d7d7;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.tab-content{
    background: #c7d7d7;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom-right-radius: 30px;
}
.vardata {
    color: #205067;
    font-weight: bold;
    font-size: smaller;
    font-style: italic;

}
.vardata > span {
    color:darkred;
}
.note {
    color: #205067;
    font-weight: bold;
    font-size: smaller;
    font-style: italic;

}
.footnote {
    font-size: x-small;
}
.message {
    color: #205067;
    font-style: italic;
    font-weight: bold;
    font-size: larger;
    border-style: dashed;
    border-color: #205067;
    padding-left: 20px;
    border-radius: 10px;
    box-sizing: content-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}
.general-grid-category {
    display: flex;

}
.right-col-category {
    border-color: #205067;
    font-size: smaller;
    margin-left: 10px;
}
.link-annotation {
    color: #205067;
    line-height: 70%!important;
}
.link-text {
    color: darkcyan;
    line-height: 1px!important;
    font-weight: bold;
}
.left-content {

}

.form_subtypes {
    color: #0c4c67;
    font-size: smaller;
    font-weight: bold;
}

.form_block_header {
    color: #570000;
    font-size: medium;
    font-weight: bold;
}

.form_block_goals {
    background-color: #ffe1fc;
    border-bottom-right-radius: 30px;
    padding-right: 10px;

}

.product_brand {
    font-size: xx-large;
    font-weight: bold;
}
.product_name {
    font-size: x-large;
    font-weight: bold;
}
.product_table_ttx {
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    margin-bottom: 2px;
}

.shops {
    margin-bottom: 10px;
/*    padding-bottom: 200px!important; */

    link: #0c4c67!important;
    color: #993300;
}
.shops a {
    color: #0c4c67;
}
