.form_blocks {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
.form_my_buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 300px;
}
.form_my_buttons_padding {
    padding-bottom: 5px;
}
.disabled_grey {
    color: #bbbbbb!important;
    border-color: #bbbbbb!important;
}

li.nav-item > a.nav-link {

    color: #205067;


}

li.nav-item > a.nav-link.active
{
    background: #c7d7d7;
    border-color: #c7d7d7;
    font-weight: bold;
}

.tab-content{
    background: #c7d7d7;
    padding-top: 10px;
    padding-bottom: 5px;
}
.vardata{
    color: #205067;
    font-style: italic;
    font-weight: bold;
    font-size: x-small;

}
.vardata > span {
    color:darkred;
    font-style: italic;
    font-weight: lighter;
}

