{% extends "al_page.html" %}
{% block meta %}

    <title>О проекте</title>
    <meta name="description" content="Сервис выдает краткую подборку моделей, максимально отвечающих целям и задачам покупателя. Отбираются самые продаваемые в России продукты." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="список, компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, ноутбук, монитор, принтер, мфу"  />
    <link rel="canonical" href="https://allgid.ru/al_about.html"/>
{% endblock %}
{% block category %}
    <div style="display: flex; flex-direction: column; width: 1106px; margin: 0 auto; align-items: center">
    <h1 style="display: inline;">О проекте</h1>
        <hr style="height: 1px">
    <div style="display: block; width: 600px; border-right: 1px solid;">
    <p>
    Гид Покупателя – это сервис, который позволяет самостоятельно формировать краткую подборку (Short List) продуктов, максимально отвечающим целям и задачам пользователя. При этом нет необходимости глубокого «погружения в тему».
    </p>
    <p>Самостоятельно выбираете основные сценарии использования и несколько дополнительных параметров. На это требуется всего несколько действий.</p>
        <p>Далее, для отобранных продуктов (Short List), сами ищете предложение с наилучшими финансовыми или логистическими условиями. Это легко.</p>
    </div>
        <h1>Методика</h1>
        <hr style="height: 1px">
    <div style="display: block; width:800px;">
        <p style="font-size: larger;">
            Методика Гида Покупателя разработана экспертами аналитической компании ITResearch с более чем 20-летним опытом работы на ИТ-рынке.
        </p>
        <p>
            Источники информации:  закрытые коммерческие отчеты ITResearch о реальных продажах каждой модели, прямая информация от производителей, а также предложения крупнейших ритейлеров и Яндекс-Маркет.

        </p>
        <p>
            Основное Know How – увязка объемов реальных продаж и популярности, а также цен с правильным сегментированием продуктов по целевым рынкам в зависимости от их позиционирования  и потребительских характеристик.

        </p>
    </div>
    </div>
{% endblock %}