{% extends "al_page.html" %}
{% block meta %}

    <title>О проекте</title>
    <meta name="description" content="Сервис выдает краткую подборку моделей, максимально отвечающих целям и задачам покупателя. Отбираются самые продаваемые в России продукты." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="список, компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, ноутбук, монитор, принтер, мфу"  />
    <link rel="canonical" href="https://allgid.ru/al_about.html"/>
{% endblock %}
{% block category %}
    <div class="about">
    <h1 class="about-h1">О проекте</h1>
    <h2 class="about-h2">Методика</h2>
    <div class="about-content">
        <p><a target="_blank" href="https://www.itbestsellers.ru/"><img src="/static/marketability/pict/itr_logo.gif" align="right"></a>Методика &#171;Гида Покупателя&#187; разработана экспертами <a style="text-decoration: none; color: #3C3979; font-weight: bolder" target="_blank" href="https://www.itbestsellers.ru/">аналитической компании ITResearch</a> с более чем 20-летним опытом работы на ИТ-рынке.</p>
        <p>Источники информации:  закрытые коммерческие отчеты ITResearch о реальных продажах каждой модели, прямая информация от производителей, дистрибьюторов и крупнейших ритейлеров в РФ.
            </p>
        <p>Основное <strong>Know How</strong> – увязка объемов <strong>реальных продаж</strong> и данных мониторинга цен с правильным <strong>сегментированием</strong> продуктов по целевым рынкам.</p>
<p>Все доступные в России модели, таких категорий как: {% for i, link in categories_list %}{{ i }}, {% endfor %} сегментируются экспертами ITResearch на группы, исходя из их позиционирования и комплекса потребительских характеристик.</p>
<p style="border-left: 1px solid; padding-left: 8px;font-family: Roboto-Italic;">Сценарии использования моделей определяются экспертами ITResearch в тесном взаимодействии с производителями.</p>
<p>Следует помнить, что некоторые группы продуктов являются взаимоисключающими (например: "мониторы начального уровня" и "игровые мониторы"); некоторые же модели могут обладать большой универсальностью и попадать в большинство групп.</p>
<p>В каждом сегменте отбираются бестселлеры - наиболее популярные и продаваемые модели согласно данным реальных продаж в России, - а также новинки.</p>

        <p>Пользователю достаточно выбрать в фильтре основные сценарии использования. Можно уточнить дополнительные технические характеристики. И получить &#171;Шорт-лист&#187; <strong>моделей-бестселлеров</strong> в соответсвующей группе. </p>
<p>Далее можно ознакомится с более подробными характеристиками модели, средними ценами, предложениями ведущих ритейлеров и Яндекс-маркет по ней.</p>
<p style="border-left: 1px solid; padding-left: 8px;font-family: Roboto-Italic;">Результатом сложной и строгой методики является простота использования и четкость результатов.</p>


    </div> <!-- about-content -->

    </div>
{% endblock %}