{% extends "al_page.html" %}
{% block category %}
    <div class="category-content">
    <div class="form-and-table">
    <form action="/{{ action }}/" method="post" id="form_">
        {% csrf_token %}
    <div class="category-header-line">
        <div class="category-name-header">
            {{ category_name }}

        </div> <!-- "category-name-header" -->
        <div class="form-reset">
            <button onclick="$('input[type=checkbox]:checked').prop('checked', false);">
            <span>Сбросить</span>
            <div class="sbros-krestik"></div>
{#            <img src="/static/marketability/pict/X blue.svg" width="18px">#}
            </button>
        </div> <!-- "form-reset" -->
    </div> <!-- "category-header-line" -->
    <div class="filter-form">


            <div class="form_blocks">


            <div class="form_block_buttons">
            <div class="form_block_header">Цели использования</div>


            {% for sub_type in new_form.GO.keys %}

            {% if sub_type != '1'  %}
              <div class="form_subtypes">{{ sub_type }}</div>
            {% endif %}

          {% for class_ in new_form.GO|get_item:sub_type %}
              <input type="checkbox" id="{{ class_.name }}" value="Yes" name="{{ class_.name }}"
                      {% if class_.name in checked_items %} checked{% endif %}
                        {% if class_.name not in enabled %} disabled{% endif %}
                        onchange="$(this).closest('form').submit();">
              <label for="{{ class_.name }}">
                  <span>{{ class_.text }}</span>
                  <div class="space-gradient"></div>
                  <div class="check-galka"></div>
                  {%  if  class_.explanation %}
                  <div class="hint-quest-mark">
                     &nbsp;?<span class="hint-title" data-title="{{ class_.explanation }}"></span>
                  </div>
                  {% endif %}
              </label>
          {% endfor %}
      {% endfor %}
        </div>

            <div class="form_block_buttons">
                <div class="form_block_header">Технические параметры</div>

                {% for sub_type in new_form.CL.keys|sort_keys %}
                {% if sub_type != '1'  %}
                            <div class="form_subtypes">{{ sub_type }}</div>
                {% endif %}

          {% for class_ in new_form.CL|get_item:sub_type %}
             <input type="checkbox" id="{{ class_.name }}" value="Yes" name="{{ class_.name }}"
                      {% if class_.name in checked_items %} checked{% endif %}
                        {% if class_.name not in enabled %} disabled{% endif %}
                        onchange="$(this).closest('form').submit();">
              <label for="{{ class_.name }}">
                  <span>{{ class_.text }}</span>
                  <div class="space-gradient"></div>
                  <div class="check-galka"></div>
                  {%  if  class_.explanation %}
                  <div class="hint-quest-mark">
                     &nbsp;?<span class="hint-title" data-title="{{ class_.explanation }}"></span>
                  </div>
                  {% endif %}
              </label>
          {% endfor %}
      {% endfor %}
        </div>

    </div> <!-- "form_blocks" -->



    </div> <!-- "filter-form" -->
    <div class="issuance-tabs">
        {% for tab in tab_list %}
            <div class="tabs-header{% if tab_active == tab %} tab-active{% endif %}" id="{{ tab }}_">

            <input type="radio" name="tabs" value="{{ tab }}" id="{{ tab }}"{% if tab_active == tab %} checked="checked"{% endif %}
            onchange="$(this).closest('form').submit();">
            <label for="{{ tab }}">

                    {% with thistab=tab_data|get_item:tab %}
                    <div style="display: inline-block;
                                height: 32px;
                                margin-left: 12px;
                                background: url('/static/marketability/pict/{% if tab_active == tab %}{{ thistab|get_item:"img_active" }}{% else %}{{ thistab|get_item:"img_noactive" }}{% endif %}') no-repeat;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                background-size: 18px 18px;
                                width: 18px;">
                    {#<img hspace="0px"src="/static/marketability/pict/{% if tab_active == tab %}{{ thistab|get_item:"img_active" }}{% else %}{{ thistab|get_item:"img_noactive" }}{% endif %}">#}
                    </div>
                    <div class="tabs-rusname">{{ thistab|get_item:"rus_name" }}</div>
                    {% endwith %}
            </label>
            </div> <!-- tabs_header -->
        {% endfor %}
        <div class="tab-item" id="marketability_">
            <div class="table-sign-text">{{ category_name }} - лидеры продаж за {% for i in period %}{% if forloop.first %}{{ i }}{% else %}- {{ i }}{% endif %}{% endfor %}</div>

            <table class="table-data">
                <tr class="th-tbl">
                    <th class="th-tbl"><span style="padding-left: 12px;">Название</span></th>
                        <th class="table-head-price">
                            <span>Цена*, руб.</span>
                            <div class="table-head-price-arrow"></div>

                        </th>
                        {% for fld in tbl_ttx_col  %}
                        <th align="center">{{ fld }}</th>
                        {% endfor %}

                </tr>
            {% for i in tbl_data.id.keys  %}
                <tr class="table-row{% if forloop.counter > 10 %} collapse-table-row{% endif %}">
                <td>
                <a href="/{{ action }}/{{ tbl_data.id|get_item:i }}">
                {{ tbl_data.brand|get_item:i }}&nbsp;{{ tbl_data.name|get_item:i }}
                </a>
                </td>
                <td>
                <b>{{ tbl_data.price_avg|get_item:i|digit_separator }}</b>
                </td>
                {% for fld in tbl_data.keys %}
                    {%  if fld in tbl_ttx_col %}
                    <td align="center">
                        {% with val=tbl_data|get_item:fld|get_item:i%}
                        {% if val == 'Да' %}
                            <img src="/static/marketability/pict/Check mark green-1.svg">
                        {% elif val == 'Нет' %}
                            <img src="/static/marketability/pict/X red-1.svg">
                        {% else %}
                        {{ val }}
                        {% endif %}
                        {% endwith %}
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
            <div class="under-table">
            <div class="price-comment">* Усредненная цена по предложнниям магазинов и маркет-плейсов</div>
            {% with len=tbl_data.id.keys|length  %}
            {% if len > 10 %}
{#                <input type="button" class="button-eshe" value="Еще {{ len|add:-10 }}" onclick="if($('.collapse-table-row').css('display') == 'none') {$('.collapse-table-row').css('display', 'table-row') } else {$('.collapse-table-row').css('display', 'none') };">#}

                <input type="checkbox" class="check-eshe" id="eshe"
                       onclick="if($('.collapse-table-row').css('display') == 'none')
                       {$('.collapse-table-row').css('display', 'table-row');
                       $('.pokazat-eshe').css('display', 'none');
                       $('.svernut').css('display', 'inline-flex');
                       $('.icon-down').css('transform', 'rotate(180deg)');}
                       else
                        {$('.collapse-table-row').css('display', 'none');
                         $('.pokazat-eshe').css('display', 'inline-flex');
                         $('.svernut').css('display', 'none');
                         $('.icon-down').css('transform', 'none');};">

                <label for="eshe" class="label-eshe">
                    <div class="pokazat-eshe">
                        Показать еще ({{ len|add:-10 }})
                    </div>
                    <div class="svernut">Свернуть</div>
                    <div class="icon-down"></div>


                </label>


            {% endif %}
            {% endwith %}
            </div> <!-- under-table -->


        </div> <!-- marketability -->

            <div class="tab-item" id="novelity_">
                        <div class="table-sign-text">{{ category_name }} - новые модели за {% for i in period %}{% if forloop.first %}{{ i }}{% else %}- {{ i }}{% endif %}{% endfor %}</div>

            <table class="table-data">
                <tr class="th-tbl">
                    <th class="th-tbl"><span style="padding-left: 12px;">Название</span></th>
                        <th class="table-head-price">
                            <span>Цена*, руб.</span>
                            <div class="table-head-price-arrow"></div>

                        </th>
                        {% for fld in tbl_ttx_col  %}
                        <th>{{ fld }}</th>
                        {% endfor %}

                </tr>
            {% for i in tbl_data_nov.id.keys  %}
                <tr class="table-row{% if forloop.counter > 10 %} collapse-table-row{% endif %}">
                <td>
                <a href="/{{ action }}/{{ tbl_data_nov.id|get_item:i }}">
                {{ tbl_data_nov.brand|get_item:i }}&nbsp;{{ tbl_data_nov.name|get_item:i }}
                </a>
                </td>
                <td>
                <b>{{ tbl_data_nov.price_avg|get_item:i|digit_separator }}</b>
                </td>
                {% for fld in tbl_data_nov.keys %}
                    {%  if fld in tbl_ttx_col %}
                    <td align="center">
                        {% with val=tbl_data_nov|get_item:fld|get_item:i%}
                        {% if val == 'Да' %}
                            <img src="/static/marketability/pict/Check mark green-1.svg">
                        {% elif val == 'Нет' %}
                            <img src="/static/marketability/pict/X red-1.svg">
                        {% else %}
                        {{ val }}
                        {% endif %}
                        {% endwith %}
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>
            <div class="under-table">
            <div class="price-comment">* Усредненная цена по предложнниям магазинов и маркет-плейсов</div>
            {% with len=tbl_data_nov.id.keys|length  %}
            {% if len > 10 %}
{#                <input type="button" class="button-eshe" value="Еще {{ len|add:-10 }}" onclick="if($('.collapse-table-row').css('display') == 'none') {$('.collapse-table-row').css('display', 'table-row') } else {$('.collapse-table-row').css('display', 'none') };">#}

                <input type="checkbox" class="check-eshe" id="eshe"
                       onclick="if($('.collapse-table-row').css('display') == 'none')
                       {$('.collapse-table-row').css('display', 'table-row');
                       $('.pokazat-eshe').css('display', 'none');
                       $('.svernut').css('display', 'inline-flex');
                       $('.icon-down').css('transform', 'rotate(180deg)');}
                       else
                        {$('.collapse-table-row').css('display', 'none');
                         $('.pokazat-eshe').css('display', 'inline-flex');
                         $('.svernut').css('display', 'none');
                         $('.icon-down').css('transform', 'none');};">

                <label for="eshe" class="label-eshe">
                    <div class="pokazat-eshe">
                        Показать еще ({{ len|add:-10 }})
                    </div>
                    <div class="svernut">Свернуть</div>
                    <div class="icon-down"></div>


                </label>


            {% endif %}
            {% endwith %}
            </div> <!-- under-table -->
            </div> <!-- novelity -->

    </div><!-- "issuance-tabs" -->
    </form>
    </div> <!-- "form-and-table" -->
    <div class="right-news">
        <div class="banner-place">

        </div> <!-- banner-place -->
        <div class="novosti-header">Новости</div>

        {% for lnk in bestesellers_links %}
            <a href="{{ lnk.href }}" target="_blank" class="news">
            <div class="news-and-anno">
                <div class="news-header-link">{{ lnk.header }}</div>
                <span class="link-annotation">
                    {{ lnk.annotation }}
                </span>

            </div>
                <div class="news-chevron">
                    <img src="/static/marketability/pict/Double chevron right-1.svg">
                </div>
            </a>
        {% endfor %}


    </div> <!-- "right-news" -->

    </div> <!-- "category-content" -->

{% endblock %} <!-- block category -->