{% extends "al_page.html" %}
{% block category %}
    <div class="home-grid">
    <div class="home-h1">Гид покупателя <span>AllGid.ru</span></div>
    <div class="home-h2">Компьютеры и периферия<br> Лучшие устройства</div>
    <div class="home-slogan">Шорт Лист для ваших целей</div>
    </div>
    <div class="home-categories">
    <div class="home-cat-cards">
        {% for i, link in categories_list %}
            <a href="/{{ link }}/">
            <div class="home-card">
                <div class="home-card-wrap">
                <div class="home-card-pict">
                <img src="{{ categories_pict|get_value:i }}">
                </div>
                <div class="home-card-text">
                    {{ i }}
                </div>
                </div>
            </div>
            </a>
        {% endfor %}

    </div>


        </div>
    </div>
{#    <div>#}
{#    1280#}
{#    <hr width="1280" style="border-width: 5px"><br>#}
{#        1184#}
{#    <hr width="1184" style="border-width: 5px"><br>#}
{#        1080#}
{#    <hr width="1080" style="border-width: 5px"><br>#}
{#        1024#}
{#    <hr width="1024" style="border-width: 5px"><br>#}
{##}
{#        768#}
{#    <hr width="768" style="border-width: 5px"><br>#}
{#       720#}
{#    <hr width="720" style="border-width: 5px"><br>#}
{##}
{#    </div>#}
{% endblock %}