{% extends "al_page_index.html" %}
{% block meta %}

    <title>Гид покупателя. Компьютеры и периферия.</title>
    <meta name="description" content="Allgid.ru: Сформируй свой шорт лист из самый продаваемых моделей.
        Фильтр по целям использования и базовым характеристикам." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, ноутбук, монитор, принтер, мфу"  />
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{% endblock %}
{% block category %}
    <div class="home-grid">
{#    <div class="home-h1">Гид покупателя <span>AllGid.ru</span></div>#}
        <div class="home-slogan">Шорт Лист для ваших целей</div>
    <div class="home-h2">Компьютеры и периферия<br> Лучшие устройства</div>

    </div>
    <div class="home-categories">
    <div class="home-cat-cards">
        {% for i, link in categories_list %}
            <a href="/{{ link }}/">
            <div class="home-card">
                <div class="home-card-wrap">
                <div class="home-card-pict">
                <img src="{{ categories_pict|get_value:i }}">
                </div>
                <div class="home-card-text">
                    {{ i }}
                </div>
                </div>
            </div>
            </a>
        {% endfor %}

    </div>


        </div>
    </div>
{#    <div>#}
{#    1280#}
{#    <hr width="1280" style="border-width: 5px"><br>#}
{#        1184#}
{#    <hr width="1184" style="border-width: 5px"><br>#}
{#        1080#}
{#    <hr width="1080" style="border-width: 5px"><br>#}
{#        1024#}
{#    <hr width="1024" style="border-width: 5px"><br>#}
{##}
{#        768#}
{#    <hr width="768" style="border-width: 5px"><br>#}
{#       720#}
{#    <hr width="720" style="border-width: 5px"><br>#}
{##}
{#    </div>#}
{% endblock %}