{% extends "al_page_index.html" %}
{% block meta %}

    <title>Гид покупателя. Компьютеры и периферия.</title>
    <meta name="description" content="Рейтинг реальных продаж в России.&#x0A;&#9830;Ноутбук &#9830;Монитор &#9830;Принтер. Выбрать по целям, задачам, характеристикам. Средние цены. Сравнить. Где купить." />
    <meta name="robots" content="index, follow" />

{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <link rel="canonical" href="https://allgid.ru"/>
{% endblock %}
{% block category %}
    <div class="home-grid">
{#    <div class="home-h1">Гид покупателя <span>AllGid.ru</span></div>#}
    <h1 class="home-slogan">&#171;Гид покупателя&#187;</h1>
    <h2 class="home-h2">Компьютеры и периферия<br>Бестселлеры</h2>


    <div class="home-categories">
    <div class="home-cat-cards">
        {% for i, link in categories_list %}
            <a href="/{{ link }}/">
            <div class="home-card">
                <div class="home-card-wrap">
                <div class="home-card-pict">
                <img src="{{ categories_pict|get_value:i }}">
                </div>
                <div class="home-card-text">
                    {{ i }}
                </div>
                </div>
            </div>
            </a>
        {% endfor %}
    </div>
    </div>
    <div class="home-explanation">
    <p><strong>Гид Покупателя</strong> – это сервис, который позволяет формировать <strong>Short List</strong> самых популярных продуктов и решений,
максимально отвечающим вашим целям и задачам. </p>
    <p>Самостоятельно выбирайте основные <strong>цели использования</strong>
и ключевые <strong>технические параметры</strong>. </p>
    <p>И получайте &#171;шорт-лист&#187; <strong>бестселлеров</strong> в данной конкретной категории.
    Это - рейтинг реальных, наиболее популярных моделей на текущий момент в России.

    </p>
    <a href="/al_about.html">
        <button class="home-about-link">Подробнее о методике >></button>
    </a>
    </div>
    </div>


{% endblock %}