{% extends "al_page.html" %}
{% block meta %}
    <title>{{ category_name_singular }} {{ vendor }} {{ name }} сравнить цены, характеристики</title>
    <meta name="description" content="{{ vendor }}&nbsp;{{ name }}. Средняя цена {{ this_price|digit_separator }}&nbsp;руб. {{ category_name }} - характеристики, аналоги, выбрать магазин." />

    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://allgid.ru/{{ action }}/{{ id }}"/>


{#<!-- Yandex.Market Widget -->#}
{#<script async src="https://aflt.market.yandex.ru/widget/script/api" type="text/javascript"></script>#}
{#<script type="text/javascript">#}
{#    (function (w) {#}
{#        function start() {#}
{#            w.removeEventListener("YaMarketAffiliateLoad", start);#}
{#            w.YaMarketAffiliate.createWidget({type:"offers",#}
{#	containerId:"marketWidget",#}
{#	fallback:true,#}
{#	params:{clid:2310490,#}
{#		searchText: "{{ vendor }} {{ name }}",#}
{#		themeId:1 } });#}
{#        }#}
{#        w.YaMarketAffiliate#}
{#            ? start()#}
{#            : w.addEventListener("YaMarketAffiliateLoad", start);#}
{#    })(window);#}
{#</script>#}
{#<!-- End Yandex.Market Widget -->#}

    {% endblock %}

{% block category %}
    <div class="category-content">
    <div class="product-block">
    {% with price=this_price|digit_separator  %}
    <div class="shema_org" itemscope itemtype="https://schema.org/Product" style="display: none;">
        <span itemprop="brand" content="{{ vendor }}"></span>
        <span itemprop="name" content="{{ name }}"></span>
        <span itemprop="description" content="{{ category_name_singular }} {{ vendor }} {{ name }}"></span>
        <span itemprop="category" content="{{ category_name_singular }}"></span>
        <span itemprop="url" content="https://allgid.ru/{{ action }}/{{ id }}"></span>
        {%  if price != 'n/a' %}
        <div itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
            <span itemprop="priceCurrency" content="RUB"></span>
            <span itemprop="price" content="{{ this_price|digit_to_float }}"></span>
        </div>
        {% endif %}
        <div itemprop="review" itemscope itemtype="https://schema.org/Review">
            <span itemprop="description" content="{% for i in this_classes %}- {{ i.text }} {% endfor %}"></span>
            <span itemprop="author" content="Allgid.ru"></span>
        </div>

    </div>
    <div class="product-filters">
        <a href="/{{ action }}/" style="text-decoration: none;">
        <div class="k-filtram">
            <div class="left-chevron"></div>
            <div class="k-filtram-text">К&nbsp;фильтрам</div>
        </div>
        </a>

    </div> <!-- К фильтрам -->
    <div class="brandname">
        <h1 class="product-this-name">
            {{ category_name_singular }}&nbsp;{{ vendor }}&nbsp;<br/>
            {{ name }}
        </h1>

            {% if price != 'n/a' %}
                <div class="product-this-price">~&nbsp;{{ price }}&nbsp;руб.
                </div>

            {% else %}
                <div class="product-this-price">Нет данных о ценах</div>
            {% endif %}

    </div>
    {% endwith %}
     <div class="filters-klass">Класс</div>
    <div class="filters-list">
    <div class="filter-type-block">
        <div class="filters-type-name">Цели:</div>
            <div class="filters-type-buttons">
            {% for i in this_classes %}
                {% if i.type == 'GO' %}
                    {% if i.name in checked_items %}
                        <div class="filters-item-check">
                            <div class="filters-item-check-galka"></div>
                            {{ i.text }}
                        </div>
                    {% else %}
                        <div class="filters-item">{{ i.text }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
    </div>
    <div class="filter-type-block">
        <div class="filters-type-name">Технологии:</div>
        <div class="filters-type-buttons">
            {% for i in this_classes %}
                {% if i.type == 'CL' %}
                    {% if i.name in checked_items %}
                        <div class="filters-item-check">
                        <div class="filters-item-check-galka"></div>
                            {{ i.text }}
                        </div>
                    {% else %}
                        <div class="filters-item">{{ i.text }}</div>
{#                <div class="{% if i.name in checked_items %}filters-item-check{% else %}filters-item{% endif %}">{{ i.text }}</div>#}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
        <table class="ttx_table">
            {% for k, v in ttx.items %}
                <tr class="{% if v != none %}ttx_tr{% else %}ttx_tr_none{% endif %}">
                <td class="ttx-td">
                    <span>{{ k }}</span>
                </td>
                    <td class="ttx-td">
                         {% if v == 'Да' %}
                            <img src="/static/marketability/pict/Check mark green-1.svg">
                        {% elif v == 'Нет' %}
                            <img src="/static/marketability/pict/X red-1.svg">
                        {% else %}
                        {{ v }}
                        {% endif %}
                    </td>
                </tr>
    {% endfor %}
    </table>
    <div class="shops">
       {% if shop_mod %}
            <div class="shops-header">Предложения магазинов</div>

            {% if action == 'Nb' %}
                <div class="shops-note">
                * Цены могут существенно различаться в зависимости от конфигурации
                </div>
                <br/>
            {% endif %}
        <table class="shops-table">
        <tbody>
            {% for mod in shop_mod %}
                <tr>
                <td>

                <a href="{{ mod.modfication_href }}" target="_blank" class="shop-link">
                <table class="shops-table-table">
                    <tbody>
                <tr class="shops-table-tr">
                <td>
                    <div class="shops-table-td-link">
                    <div class="shops-table-shop-name">{{ mod.shop_name }}</div>
                    <div class="shops-table-mod-name">{{ mod.modification_name }}</div>
                    </div>

                </td>
                <td class="shops-table-shop-price">
                    <div>{{ mod.modification_price|digit_separator }}</div>

                </td>
                    <td class="shop-chevron"></td>
                </tr>

                </tbody></table></a></td></tr>
            {% endfor %}
{#        <tr><td style="width:100%;">#}
{#            #}
{#                <a href="{{ mod.modfication_href }}" target="_blank" class="shop-link">#}
{#                <table style="width:100%; ">#}
{#                <tr class="shops-item">#}
{##}
{#                <td class="shop-mod-name">{{ mod.modification_name }}</td>#}
{#                <td class="shop-price">{{ mod.modification_price|digit_separator }}</td>#}
{#                <td class="shop-name">{{ mod.shop_name }}</td>#}
{#                #}
{#                </tr>#}
{#                </table>#}
{#                </a>#}
{##}
{#        </td></tr>#}
{##}
  </tbody></table>

        {% endif %}

    </div>
    <div id="marketWidget"></div>



    </div> <!-- product-block -->
    <div class="right-lists">
        <div class="banner-place">

        </div> <!-- banner-place -->
        <div class="addition-lists">
        <div class="top20-list">
    <div class="nadpis-short">Популярные модели по фильтру (ShortList)</div>
        {%  for i in top_products %}
            <div class="top-mod">
            <a href="/{{ action }}/{{ i|get_item:'id' }}" class="link_mod">
                <div class="top-mod-brandname">
                <span {% if i|get_item:'name' == name %} style="font-weight: 600;"{% endif %}>
                    {{ i|get_item:'brand' }}&nbsp;{{ i|get_item:'name' }}
                </span>

                </div>
            </a>
                <div class="top-mod-price">
                {{ i|get_item:'price_avg'|digit_separator }}
                </div>
            </div>
        {% endfor %}

    </div>

        <div class="miscell-list">
            <div class="nadpis-prochie">Прочие модели того же класса</div>
            {% if len_miscell > 10 %}
                <script>
                    $(document).ready(function()
                    {$('.miscell-mod').css('display', 'none');
                    $('.miscell-vendor-strelka').css('transform', 'none')}
                    );

                </script>
            {% endif %}

            {% for ven, md in miscell.items  %}
                {% with ven_1=ven|slugify %}
                <input type="checkbox" id="{{ ven_1 }}" class="check-vendor-clps"
                onclick="if($('.miscell-mod#{{ ven_1 }}').css('display') == 'none')
                       {$('.miscell-mod#{{ ven_1 }}').css('display', 'flex');
                        $('.miscell-vendor-strelka#{{ ven_1 }}').css('transform', 'rotate(180deg)');}
                       else
                        {$('.miscell-mod#{{ ven_1 }}').css('display', 'none');
                         $('.miscell-vendor-strelka#{{ ven_1 }}').css('transform', 'none');};">
                <label for="{{ ven_1 }}" id="{{ ven_1 }}">
                <div class="miscell-vendor">
                    <div class="miscell-vendor-name">{{ ven }}</div>
                    <div class="miscell-vendor-strelka" id="{{ ven_1 }}"></div>
                </div> <!-- miscel-vendor -->
                </label>

                {% for i in md %}
                <div class="miscell-mod" id="{{ ven_1 }}">
                    <div class="miscell-mod-name">
                        <a href="/{{ action }}/{{ i|get_item:'id' }}" class="link_mod">
                        <span {% if i|get_item:'name' == name %} style="font-weight: 600;"{% endif %}>
                        {{ i|get_item:'name' }}
                        </span>
                        </a>
                    </div>
                    <div class="miscell-mod-price">
                        {{ i|get_item:'price'|digit_separator }}

                    </div>
                </div>
                {% endfor %}

                {% endwith %}
            {% endfor %}

        </div>


    </div> <!-- addition-list -->

    </div> <!-- right-lists -->
    </div> <!-- category-content -->
{% endblock %}