{% extends "al_page.html" %}
{% block meta %}
    <title>Гид покупателя. {{ category_name }}: {{ vendor }}&nbsp;{{ name }}</title>
    <meta name="description" content="{{ vendor }}&nbsp;{{ name }}. ~{{ this_price|digit_separator }}&nbsp;руб.; {% for k, v in ttx.items %} {{ k }}-{{ v }};{% endfor %}" />
    <meta name="keywords" content="{{ vendor }}, {{ name }}, {% for k in ttx.keys %}{{ k }}, {% endfor %}, {{ category_name }}, характеристики, параметры, цены, цена, где купить, покупки, свойства, предложения, аналоги, магазины" />
    <meta name="robots" content="index, follow" />
{% endblock %}

{% block category %}
    <div class="category-content">
    <div class="product-block">
    <div class="product-filters">
        <a href="/{{ action }}/" style="text-decoration: none;">
        <div class="k-filtram">
            <div class="left-chevron"></div>
            <div class="k-filtram-text">К&nbsp;фильтрам</div>
        </div>
        </a>

    </div> <!-- К фильтрам -->
    <div class="brandname">
        <div class="product-this-name">{{ vendor }}&nbsp;{{ name }}</div>
        <div class="product-this-price">~&nbsp;{{ this_price|digit_separator }}&nbsp;руб.</div>
    </div>
     <div class="filters-klass">Класс</div>
    <div class="filters-list">
    <div class="filter-type-block">
        <div class="filters-type-name">Цели:</div>
            <div class="filters-type-buttons">
            {% for i in this_classes %}
                {% if i.type == 'GO' %}
                    {% if i.name in checked_items %}
                        <div class="filters-item-check">
                            <div class="filters-item-check-galka"></div>
                            {{ i.text }}
                        </div>
                    {% else %}
                        <div class="filters-item">{{ i.text }}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
    </div>
    <div class="filter-type-block">
        <div class="filters-type-name">Технологии:</div>
        <div class="filters-type-buttons">
            {% for i in this_classes %}
                {% if i.type == 'CL' %}
                    {% if i.name in checked_items %}
                        <div class="filters-item-check">
                        <div class="filters-item-check-galka"></div>
                            {{ i.text }}
                        </div>
                    {% else %}
                        <div class="filters-item">{{ i.text }}</div>
{#                <div class="{% if i.name in checked_items %}filters-item-check{% else %}filters-item{% endif %}">{{ i.text }}</div>#}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
        <table class="ttx_table">
            {% for k, v in ttx.items %}
                <tr class="{% if v != none %}ttx_tr{% else %}ttx_tr_none{% endif %}">
                <td class="ttx-td">
                    <span>{{ k }}</span>
                </td>
                    <td class="ttx-td">
                         {% if v == 'Да' %}
                            <img src="/static/marketability/pict/Check mark green-1.svg">
                        {% elif v == 'Нет' %}
                            <img src="/static/marketability/pict/X red-1.svg">
                        {% else %}
                        {{ v }}
                        {% endif %}
                    </td>
                </tr>
    {% endfor %}
    </table>
    <div class="shops">
       {% if shop_mod %}
            <div class="shops-header">Предложения магазинов</div>

            {% if action == 'Nb' %}
                <div class="shops-note">
                * Цены могут существенно различаться в зависимости от конфигурации
                </div>
            {% endif %}
        <table class="shops-table">
        <tr><td style="width:100%;">
            {% for mod in shop_mod %}
                <a href="{{ mod.modfication_href }}" target="_blank" class="shop-link">
                <table style="width:100%; ">
                <tr class="shops-item">

                <td class="shop-mod-name">{{ mod.modification_name }}</td>
                <td class="shop-price">{{ mod.modification_price|digit_separator }}</td>
                <td class="shop-name">{{ mod.shop_name }}</td>
                <td class="shop-chevron"></td>
                </tr>
                </table>
                </a>
            {% endfor %}
        </td></tr>

         </table>
        {% endif %}

    </div>



    </div> <!-- product-block -->
    <div class="right-lists">
        <div class="banner-place">

        </div> <!-- banner-place -->
        <div class="addition-lists">
        <div class="top20-list">
    <div class="nadpis-short">Популярные модели по фильтру (ShortList)</div>
        {%  for i in top_products %}
            <div class="top-mod">
            <a href="/{{ action }}/{{ i|get_item:'id' }}" class="link_mod">
                <div class="top-mod-brandname">
                <span {% if i|get_item:'name' == name %} style="font-weight: 600;"{% endif %}>
                    {{ i|get_item:'brand' }}&nbsp;{{ i|get_item:'name' }}
                </span>

                </div>
            </a>
                <div class="top-mod-price">
                {{ i|get_item:'price_avg'|digit_separator }}
                </div>
            </div>
        {% endfor %}

    </div>

        <div class="miscell-list">
            <div class="nadpis-prochie">Прочие модели того же класса</div>
            {% if len_miscell > 10 %}
                <script>
                    $(document).ready(function()
                    {$('.miscell-mod').css('display', 'none');
                    $('.miscell-vendor-strelka').css('transform', 'none')}
                    );

                </script>
            {% endif %}

            {% for ven, md in miscell.items  %}
                <input type="checkbox" id="{{ ven }}" class="check-vendor-clps"
                onclick="if($('.miscell-mod#{{ ven }}').css('display') == 'none')
                       {$('.miscell-mod#{{ ven }}').css('display', 'flex');
                        $('.miscell-vendor-strelka#{{ ven }}').css('transform', 'rotate(180deg)');}
                       else
                        {$('.miscell-mod#{{ ven }}').css('display', 'none');
                         $('.miscell-vendor-strelka#{{ ven }}').css('transform', 'none');};">
                <label for="{{ ven }}" id="{{ ven }}">
                <div class="miscell-vendor">
                    <div class="miscell-vendor-name">{{ ven }}</div>
                    <div class="miscell-vendor-strelka" id="{{ ven }}"></div>
                </div> <!-- miscel-vendor -->
                </label>

                {% for i in md %}
                <div class="miscell-mod" id="{{ ven }}">
                    <div class="miscell-mod-name">
                        <a href="/{{ action }}/{{ i|get_item:'id' }}" class="link_mod">
                        <span {% if i|get_item:'name' == name %} style="font-weight: 600;"{% endif %}>
                        {{ i|get_item:'name' }}
                        </span>
                        </a>
                    </div>
                    <div class="miscell-mod-price">
                        {{ i|get_item:'price'|digit_separator }}

                    </div>
                </div>
                {% endfor %}

            {% endfor %}

        </div>


    </div> <!-- addition-list -->

    </div> <!-- right-lists -->
    </div> <!-- category-content -->
{% endblock %}