{% extends "al_head_desktop2.html" %}
{% block meta %}
    <title>{{ category_name }}. Рейтинг. Гид покупателя. Выбрать модель. {% if not tab_active == "novelity" %} Топ популярных в России{% else %}Новинки{% endif %}</title>
    <meta name="description" content="{{ category_name }}:{% if tab_active == "novelity" %} Новинки - модели появившиеся в продаже в России{% else %} Рейтинг продаж. Самые популярные модели в России{% endif %} за {{ period }}. Выбор по целям использования, производителям, базовым характеристикам." />

    {% if not checked_items and not vendors_checked %}
    <meta name="robots" content="index, follow" />
    {% else %}
    <meta name="robots" content="noindex">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/static/marketability/css_category_desktop_2.css">

{% endblock %}

{% block category %}
    <div class="category-content">
    {% if page_place == 'CL' or page_place == 'GO' %}
         <script>
            window.location.href = '#GO_CL';
         </script>
    {% elif page_place == 'ven' %}
        <script>
            window.location.href = '#VEN__';
        </script>
    {% endif %}

        <div class="top-horizontal-block"> <!-- top-horizontal-block -->
        <div class="category-header-wrap">
            <div><h1 class="category-name-header" id="UP__" name="UP__">
            {{ category_name }}
            </h1></div> <!-- "category-name-header" -->
            <div  class="category-name-header-second-line">
                <h2>Бестселлеры: самые продаваемые модели{% if checked_items %} в этом классе{% endif %}</h2>
            </div>
            <div class="category-name-header-period"><h2>Период: {{ period }}</h2></div>
        </div> <!-- category-header-wrap  -->
        <div class="period-fltr">

            <div class="filter_button_big">
                <a href="#GO_CL">
                <div class="fltr_pic">&nbsp;</div>
                <div class="fltr_text">Цели и параметры</div>
                </a>
            </div>

            <div class="filter_button_big">
                <a href="#VEN__">
                <div class="fltr_pic">&nbsp;</div>
                <div class="fltr_text">Производители</div>
                </a>
        </div>
        </div>
        </div>
        </div> <!-- category-name-second-period -->


        </div>

<div class="form-and-table">
   <form action="/{{ action }}/" method="get" id="form_">
   <input type="radio" id="form-infocus-now-up" name="infocus-now" value="up" class="form-infocus-now">
   <input type="radio" id="form-infocus-now-go" name="infocus-now" value="GO" class="form-infocus-now">
   <input type="radio" id="form-infocus-now-cl" name="infocus-now" value="CL" class="form-infocus-now">
   <input type="radio" id="form-infocus-now-ven" name="infocus-now" value="ven" class="form-infocus-now">
            <div class="buttons-top buttons-top-cl-go-checked">
                    {% for sub_type in new_form.GO.keys %}
                        {% for cls_ in new_form.GO|get_item:sub_type%}
                        {% if cls_.name in  checked_items %}
                        <div class="button-top">
                        <div class="button-top-checkbox">
                            <label for="{{ cls_.name }}">
                                <div class="button-top-krestik">&#10006;</div>
                            </label>
                        </div>
                        <div class="button-top-text">{{ cls_.text }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
            </div>

            <div class="buttons-top buttons-top-cl-go-checked">
                {% for sub_type in new_form.CL.keys %}
                        {% for cls_ in new_form.CL|get_item:sub_type%}
                        {% if cls_.name in  checked_items %}
                        <div class="button-top">
                        <div class="button-top-checkbox">
                            <label for="{{ cls_.name }}">
                                <div class="button-top-krestik">&#10006;</div>
                            </label>
                        </div>
                            <div class="button-top-text">{{ cls_.text }}</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    {% endfor %}
            </div>
            <div class="buttons-top buttons-top-cl-go-checked">
                    {% for ven in vendors_checked %}
                        {% with ven__="__"|replace_space:ven %}
                        <div class="button-top">
                        <div class="button-top-checkbox">
                            <label for="{{ ven__ }}">
                                <div class="button-top-krestik">&#10006;</div>
                            </label>
                        </div>
                        <div class="button-top-text">{{ ven }}</div>
                        </div>
                        {% endwith %}
                    {% endfor %}
            </div>

            <div class="issuance-tabs">
            <div class="issuance-tabs-line">
        {% for tab in tab_list %}
            <div class="tabs-header{% if tab_active == tab %} tab-active{% endif %}" id="{{ tab }}_">

            <input type="radio" name="tabs" value="{{ tab }}" id="{{ tab }}"{% if tab_active == tab %} checked="checked"{% endif %}
            onchange="$('input[id=form-infocus-now-up]').prop('checked', true);
                      $(this).closest('form').submit();">
            <label for="{{ tab }}">

                    {% with thistab=tab_data|get_item:tab %}
                    <div style="display: inline-block;
                                height: 32px;
                                margin-left: 12px;
                                background: url('/static/marketability/pict/{% if tab_active == tab %}{{ thistab|get_item:"img_active" }}{% else %}{{ thistab|get_item:"img_noactive" }}{% endif %}') no-repeat;
                                background-repeat: no-repeat;
                                background-position: 50% 50%;
                                background-size: 18px 18px;
                                width: 18px;">

                    </div>
                    <div class="tabs-rusname">{{ thistab|get_item:"rus_name" }}</div>
                    {% endwith %}
            </label>
            </div> <!-- tabs_header -->
        {% endfor %}
            </div>
            <div class="tab-item" id="{{ tab_active }}_">

            <table class="table-data">
                <tr class="th-tbl">
                    <th class="th-tbl"><span style="padding-left: 12px;">Название</span></th>
                        <th class="table-head-price">
                            <span>Цена*, руб.</span>
                            <div class="table-head-price-arrow"></div>

                        </th>
                        {% for fld in tbl_ttx_col  %}
                        <th>{{ fld }}</th>
                        {% endfor %}
                </tr>

            {% for i in tbl_data.id.keys  %}
                <tr class="table-row">
                <td>
                <a href="/{{ action }}/{{ tbl_data.id_brand_name|get_item:i }}">
                {{ tbl_data.brand|get_item:i }}&nbsp;{{ tbl_data.name|get_item:i }}
                </a>
                </td>
                <td>
                <b>{{ tbl_data.price_avg|get_item:i|digit_separator }}</b>
                </td>
                {% for fld in tbl_data.keys %}
                    {%  if fld in tbl_ttx_col %}
                    <td>
                        {% with val=tbl_data|get_item:fld|get_item:i%}
                        {% if val == 'Да' %}
                            <img src="/static/marketability/pict/Check mark green-1.svg">
                        {% elif val == 'Нет' %}
                            <img src="/static/marketability/pict/X red-1.svg">
                        {% else %}
                        {{ val }}
                        {% endif %}
                        {% endwith %}
                    </td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </table>

            <div class="under-table">
            <div class="price-comment">* Усредненная цена по предложнниям магазинов и маркет-плейсов</div>

            </div> <!-- under-table -->


        </div> <!-- marketability -->


    <div class="subform_header">
        <div class="subform_header_up" id="GO_CL" name="GO_CL"></div>
        <h2>Цели и Параметры</h2>
    </div>
    <div class="form-background">
        <div class="form_blocks">
            <div class="form_block_buttons">
            <div class="form_block_header">Цели использования</div>

            {% for sub_type in new_form.GO.keys %}

            {% if sub_type != '1'  %}
              <div class="form_subtypes">{{ sub_type }}</div>
            {% endif %}

          {% for class_ in new_form.GO|get_item:sub_type %}
              <input type="checkbox" id="{{ class_.name }}" value="Yes" name="{{ class_.name }}"
                      {% if class_.name in checked_items %} checked{% endif %}
                        {% if class_.name not in enabled %} disabled{% endif %}
                        onchange="
                        $('input[id=form-infocus-now-go]').prop('checked', true);
                        $(this).closest('form').submit();">
              <label for="{{ class_.name }}">
                  <span>{{ class_.text }}</span>
                  <div class="space-gradient"></div>
                  <div class="check-galka"></div>
                  {%  if  class_.explanation %}
                    <div class="hint-quest-mark" onmouseover="$(this).children('.hint-title-hover').css('display', 'block');
                                                            $(this).children('.hint-title-pin').css('display', 'block');"
                                                onmouseleave="$(this).children('.hint-title-hover').css('display', 'none');
                                                            $(this).children('.hint-title-pin').css('display', 'none');">

                     &nbsp;?
                    <div class="hint-title-pin"></div>
                        <div class="hint-title-hover">
                        {% autoescape off %}{{ class_.explanation|linebreaksbr }}{% endautoescape %}
                        </div>
                    </div>
                  {% endif %}
              </label>

          {% endfor %}
      {% endfor %}
        </div>
            <div class="form_block_buttons">

                <div class="form_block_header">Технические параметры</div>

                {% for sub_type in new_form.CL.keys %}
                {% if sub_type != '1'  %}
                            <div class="form_subtypes">{{ sub_type }}</div>
                {% endif %}

          {% for class_ in new_form.CL|get_item:sub_type %}
             <input type="checkbox" id="{{ class_.name }}" value="Yes" name="{{ class_.name }}"
                      {% if class_.name in checked_items %} checked{% endif %}
                        {% if class_.name not in enabled %} disabled{% endif %}
                        onchange="$('input[id=form-infocus-now-cl]').prop('checked', true);
                                   $(this).closest('form').submit();">
              <label for="{{ class_.name }}">
                  <span>{{ class_.text }}</span>
                  <div class="space-gradient"></div>
                  <div class="check-galka"></div>
                  {%  if  class_.explanation %}


                  <div class="hint-quest-mark" onmouseover="$(this).children('.hint-title-hover').css('display', 'block');
                                                            $(this).children('.hint-title-pin').css('display', 'block');"
                                                onmouseleave="$(this).children('.hint-title-hover').css('display', 'none');
                                                            $(this).children('.hint-title-pin').css('display', 'none');">

                     &nbsp;?
                      <div class="hint-title-pin"></div>
                    <div class="hint-title-hover">
                        {% autoescape off %}
                            {{ class_.explanation|linebreaksbr }}
                        {% endautoescape %}
                    </div>
                  </div>

                  {% endif %}
              </label>
          {% endfor %}
      {% endfor %}
        </div>

    </div> <!-- "form_blocks" -->

    </div> <!-- "filter-form" -->
          <div class="form-reset">

            <button onclick="$('.form_block_buttons input[type=checkbox]:checked').prop('checked', false);" class="form-reset-button">
                <span>&#10006;</span>
                <span>Сбросить</span>
{#            <div class="sbros-krestik"></div>#}
{#            <img src="/static/marketability/pict/X blue.svg" width="18px">#}
            </button>
              <a href="#UP__">
                  <div class="form-button-up">
                      <div><img src="/static/marketability/pict/Double chevron right-1.svg"></div>
                  </div>
              </a>
        </div> <!-- "form-reset" -->

    <div class="subform_header">
        <div class="subform_header_up" id="VEN__" name="VEN__"></div>
        <h2>Производители</h2>
    </div>
    <div class="vendors-block">
        {% for i in vendors_all %}
            {% with i__="__"|replace_space:i %}
            <input type="checkbox" id="{{ i__ }}" value="Yes" name="ven__{{ i }}"
                      {% if i in vendors_checked %} checked {% endif %}
                        {% if i not in vendors_enabled %} disabled {% endif %}
                         onchange="$('input[id=form-infocus-now-ven]').prop('checked', true);
                                    $(this).closest('form').submit();">
              <label for="{{ i__ }}">
                  <div class="vendors_button_label">
                  <div class="vendor_button">{{ i }}</div>

                  </div> <!-- vendors_button_label -->

              </label>
            {% endwith %}
        {% endfor %}
    </div><!-- vendors-block -->
             <div class="form-reset">

            <button onclick="$('.vendors-block input[type=checkbox]:checked').prop('checked', false);" class="form-reset-button">
                <span>&#10006;</span>
                <span>Сбросить</span>
{#            <div class="sbros-krestik"></div>#}
{#            <img src="/static/marketability/pict/X blue.svg" width="18px">#}
            </button>
              <a href="#UP__">
                  <div class="form-button-up">
                      <div><img src="/static/marketability/pict/Double chevron right-1.svg"></div>
                  </div>
              </a>
        </div> <!-- "form-reset" -->

    </form>
    {% if how_links %}

    <div class="category-how-links"> <!-- how-links -->

        {% for hwlnk in how_links %}
        <div class="category-how-link-block">
            <div class="category-how-link-block-img">
                <a href="/how/{{ hwlnk.cat }}/{{ hwlnk.id_html_name }}"><img src="{{ hwlnk.img }}" height="120"></a>
            </div>
            <div class="category-how-link-block-title">
                <a href="/how/{{ hwlnk.cat }}/{{ hwlnk.id_html_name }}">{{ hwlnk.article_title }}</a>
            </div>
        </div>

        {% endfor %}

    </div> <!-- how-links -->
    {% endif %}
    </div> <!-- form-and-table -->


    <div class="right-news">

        <div class="theme-pic-place" style="background: url(/static/marketability/{{ theme_pic }});background-repeat: no-repeat;">

        </div> <!-- banner-place -->
        {% if bestesellers_links %}
        <h2 class="novosti-header"><a href="/rate/{{ bestesellers_cat }}/" target="blank_">Рейтинги</a></h2>

        {% for lnk in bestesellers_links %}
            <a href="/rate/{{ bestesellers_cat }}/{{ lnk.id_html_name }}" target="_blank" class="news">
            <div class="news-and-anno">
                <div class="news-header-link">{{ lnk.article_title }}</div>
                <span class="link-annotation">
                    {{ lnk.article_anno|truncatechars_html:200 }}
                </span>

            </div>
                <div class="news-chevron">
                    <img src="/static/marketability/pict/Double chevron right-1.svg">
                </div>
            </a>
        {% endfor %}
        <div class="rаtings_list_bottom"><a href="/rate/{{ bestesellers_cat }}/" target="blank_">Прочие рейтинги >></a></div>
        {% endif %}


    </div> <!-- "right-news" -->

    </div> <!-- "category-content" -->


{% endblock %} <!-- block category -->