{% extends "page.html" %}

{% block header %}
{% for i, link in categories_list %}
<tr><td>
&nbsp;&nbsp;

    <a href="/{{ link }}/">{% if i == category_name %}
        <strong>{{ i }}</strong>
        {% else %}
        {{ i }}
        {% endif %}</a>
    &nbsp;&nbsp;

</td></tr>

{% endfor %}
{% endblock %}

{% block issuance %}
    <!-- Таблица выдачи -->
<table>
<tr>
<td></td>
    {% for i in tbl_data.id.keys  %}

   <td><a href="/{{ action }}/{{ tbl_data.id|get_item:i }}">
                <b>{{ tbl_data.brand_name|get_item:i }}</b>
       </a></td>

{% endfor %}
</tr>
{% for fld in tbl_data.keys %}

    {%  if fld in tbl_ttx_col %}
    <tr>
    <td>{{ fld }}</td>
        {% for i in tbl_data.id.keys %}
            <td>
            {{ tbl_data|get_item:fld|get_item:i }}
            </td>
        {% endfor %}
    </tr>
    {%  endif %}

{% endfor %}
<tr>
    <td>Ср. цена</td>
    {% for i in tbl_data.id.keys %}
            <td>
            <b>{{ tbl_data.price_avg|get_item:i|digit_separator }}</b>
            </td>
        {% endfor %}
</tr>
</table>


    {% comment %}
    <table>
    <tr>

        <td></td>
        {% for cl, hrf in tbl_col %}
            <td>
            <a href="/{{ action }}/{{ hrf }}">
                <b>{{ cl }}</b>
            </a>
            </td>
        {% endfor %}

    </tr>

    {% for k, v in tbl_data.items %}
            <tr>
            <td>{{ k }}</td>
            {% for dat in v %}
                <td>{{ dat }}</td>
            {% endfor %}
            </tr>
        {% endfor %}


    </table>
{% endcomment %}
    <br>
{% comment %}
{% for i in joined %}

    {% for key, value in i.items %}
    {{ value }},
    {% endfor %}
{% endfor %}
{% endcomment %}



{% endblock %}

{% block form_classes %}

<form action="/{{ action }}/" method="post">
    <input type="submit" value="обновить">
    <br>

    {% csrf_token %}

    {% include "form.html" %}

    <input type="submit" value="обновить">
    <br>
</form>


{% endblock %}



