<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'marketability/my_css.css' %}">
    <title>All-Gid Компьютерная техника</title>
</head>
<body>
{% block header %}{% endblock %}
<div class="general-grid-category container">
<div class="left-content">

    <div style="flex-direction: row">
    {% for i, link in categories_list %}
    <div class="btn-group" role="toolbar" aria-label="top menu">
        <a href="/{{ link }}/" class="{% if i == category_name %}btn btn-info active{% else %}btn btn-outline-info{% endif %}" aria-pressed="true">
        {% if i == category_name %}<strong>{{ i }}</strong>
        {% else %}{{ i }}
        {% endif %}
        </a>
    </div>
    {% endfor %}
    </div>
<hr>
    <div>
{% block issuance %}{% endblock %}

</div>
    <div>
    {% block form_classes %}{% endblock %}
</div>
</div>
<!-- правая колонка -->
{% block right_col %}{% endblock %}



</div>
<hr>
</body>
</html>