{% extends "page.html" %}
{% load bootstrap4 %}

{% block issuance %}
<div>
        <span class="product_brand">
            {{ vendor }}<br></span>
        <span class="product_name">
            {{ name }}</span>
    <table class="table table-striped table-sm">
            {% for k, v in ttx.items %}
                <tr>
                <td>
                    <span>{{ k }}:</span>
                </td>
                    <td>
                        <span>{{ v }}</span>
                    </td>
                </tr>
    {% endfor %}
    </table>
    <hr>
    <div>
       {% if shop_mod %}
            <b>Предложения магазинов</b>

            {% if action == 'Nb' %}
                <br>
                <span class="note">
                Цены могут существенно различаться в зависимости от конфигурации
                </span>
            {% endif %}
           <br><br>
            {% for mod in shop_mod %}
                <div class="shops">
                <b>
                <a href="{{ mod.modfication_href }}" target="_blank">
                    {{ mod.modification_name }}
                </a>
                </b>
                <br>
                <i>{{ mod.shop_name }}</i>
                <b>{{ mod.modification_price|digit_separator }}</b>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% comment %}
    <table>
    <tr>
    <td valign="top">
    <!-- Модель -->
    <b>
    <font size="14">{{ vendor }}</font><br>
    </b>
    <font size="10">{{ name }}</font><br>

    {% for k, v in ttx.items %}
        {{ k }}:  {{ v }}<br>
    {% endfor %}
<hr>
    {% if filter_GO %}
    <i><b>Целевые классы: </b></i>
        {% for i in filter_GO %}
        <i>{% if forloop.first %}{{ i }}{% else %}, {{ i }}{% endif %}</i>
        {% endfor %}<br>
    {% endif %}
        {% if filter_CL %}
    <i><b>Технические классы: </b></i>
        {% for i in filter_CL %}
        <i>{% if forloop.first %}{{ i }}{% else %}, {{ i }}{% endif %}</i>
        {% endfor %}<br>
    {% endif %}
{% if fproducts %}
    <br>
    <b>Другие модели</b><br>
    {% for i in fproducts %}
        <a href="/{{ action }}/{{ i.id }}">{{ i.brand }} {{ i.name }}</a><br>
    {% endfor %}

{% endif %}
    </td>
    <td valign="top">
        {% if shop_mod %}
            <b>Предложения магазинов</b>
            {% for mod in shop_mod %}
                <br><br>
                <b>
                <a href="{{ mod.modfication_href }}" target="_blank">
                    {{ mod.modification_name }}
                </a>
                </b>
                <br>
                <i>{{ mod.shop_name }}</i>
                <b>{{ mod.modification_price|digit_separator }}</b>
            {% endfor %}
        {% endif %}
    </td>
    </tr></table>
 {% endcomment %}
{% endblock %}

{% block right_col %}
<div class="right-col-category col-3">

</div>
{% endblock %}


