{% extends "page.html" %}
{% load bootstrap4 %}

{% block issuance %}
    <table>
    <tr>
    <td valign="top">
    <!-- Модель -->
    <b>
    <font size="14">{{ vendor }}</font><br>
    </b>
    <font size="10">{{ name }}</font><br>

    {% for k, v in ttx.items %}
        {{ k }}:  {{ v }}<br>
    {% endfor %}
<hr>
    {% if filter_GO %}
    <i><b>Целевые классы: </b></i>
        {% for i in filter_GO %}
        <i>{% if forloop.first %}{{ i }}{% else %}, {{ i }}{% endif %}</i>
        {% endfor %}<br>
    {% endif %}
        {% if filter_CL %}
    <i><b>Технические классы: </b></i>
        {% for i in filter_CL %}
        <i>{% if forloop.first %}{{ i }}{% else %}, {{ i }}{% endif %}</i>
        {% endfor %}<br>
    {% endif %}
{% if fproducts %}
    <br>
    <b>Другие модели</b><br>
    {% for i in fproducts %}
        <a href="/{{ action }}/{{ i.id }}">{{ i.brand }} {{ i.name }}</a><br>
    {% endfor %}

{% endif %}
    </td>
    <td valign="top">
        {% if shop_mod %}
            <b>Предложения магазинов</b>
            {% for mod in shop_mod %}
                <br><br>
                <b>
                <a href="{{ mod.modfication_href }}" target="_blank">
                    {{ mod.modification_name }}
                </a>
                </b>
                <br>
                <i>{{ mod.shop_name }}</i>
                <b>{{ mod.modification_price|digit_separator }}</b>
            {% endfor %}
        {% endif %}
    </td>
    </tr></table>
{% endblock %}


