{% extends "al_page.html" %}
{% block meta %}

    <title>Модели. Оглавление каталога.</title>
    <meta name="description" content="Allgid.ru. Гид покупателя. Архив моделей. Полный список продуктов в каталоге по категориям." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="список, компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, ноутбук, монитор, принтер, мфу"  />
    <link rel="canonical" href="https://allgid.ru/search_all.html"/>

{% endblock %}
{% block category %}
    <div class="search">
    <h1 class="search-header">Компьютеры и огтехника. Весь каталог.</h1>
    <h2 class="search-text">Цена, Характеристики, Предложения магазинов, Маркетплейсы</h2>
    <div class="search-content">


    {% for cat, cat_ in categories_list %}
    <div class="search-all-cat">
        <h3 class="search-all-cat-name">{{ cat }}</h3>
        <ul class="search-all-cat-list">
            {% for ls_mod in dict_cat|get_item:cat_ %}
                <li>
                    <a href="/{{ cat_ }}/{{ ls_mod.id_brand_name }}">
                        {{ ls_mod.brand }}&nbsp;{{ ls_mod.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    </div> <!-- search-content -->
    </div>
{% endblock %}