{% extends "al_page.html" %}
{% block meta %}
    <title>{{ article.article_title }}</title>
    <meta name="description" content="{{ article.article_anno|truncatechars_html:160 }}" />
    <meta name="robots" content="all" />
    <link rel="canonical" href="https://allgid.ru/rate/{{ article.cat }}/{{ article.id_html_name }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ article.article_title }}"/>
    <meta property="og:site_name" content="Allgid.ru Гид покупателя."/>
    <meta property="og:description" content="{{ article.article_anno|truncatechars_html:260  }}"/>
    <meta property="og:image" content="https://allgid.ru{{ article.img }}"/>
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="150">
    <meta property="og:url" content="https://allgid.ru/rate/{{ article.cat }}/{{ article.id_html_name }}"/>


{% endblock %}

{% block category %}

<div class="article-wrap">
  {% autoescape off %}
        <div class="shema_org" itemscope itemtype="https://schema.org/Article" style="display: none;">
        <span itemprop="headline" content="{{ article.article_title }}"></span>
        <span itemprop="image" content="https://allgid.ru{{ article.img }}"></span>
        <span itemprop="description" content="{{ article.article_anno }}"></span>
        <span itemprop="datePublished" content="{{ article.date }}"></span>
            <div itemscope itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="https://allgid.ru/rate/{{ article.cat }}/{{ article.id_html_name }}"></div>

    </div>
     {% endautoescape %}
    <div class="article-content">
        <div class="article-backlink-listing" itemscope itemtype="http://schema.org/BreadcrumbList">
            <div style="display: inline;" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/rate/" itemprop="item">
                <span itemprop="name">Рейтинги</span>
                <meta itemprop="position" content="1" />
            </a>
            </div>


            &rArr;
            <div style="display: inline;" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/rate/{{ category }}/" itemprop="item">
                <span itemprop="name">{{ cat_rus }}</span>
                <meta itemprop="position" content="2" />
            </a>

            </div>
        </div>
    <div class="ttx_article_div">
        <h1 class="ttx_article_h1">{{ article.article_title }}</h1>
    </div>

  {% autoescape off %}
    <div class="article_body">

        {{ article.article_html_body }}
    </div>
   {% endautoescape %}
        <div class="social-buttons">
{#    <script src="https://yastatic.net/share2/share.js"></script>#}
    <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="ya-share2" data-services="facebook,twitter,odnoklassniki,vkontakte,telegram,whatsapp"></div>
    </div>
    </div> <!-- article-content -->

    <div class="article-right">
  {% autoescape off %}
    <div class="article_body">
        {{ article.article_keywords }}
    </div>
   {% endautoescape %}

    <div class="banner-place">
        <br />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2708166808492518"
     crossorigin="anonymous"></script>
<!-- Right Col 1 Above Shops -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-2708166808492518"
            data-ad-slot="3434848981"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div> <!-- banner-place -->

    </div>
</div>

</div>

{% endblock %}