{% extends "al_page.html" %}
{% block meta %}
    <title>Гид покупателя. {{ category_name }}</title>
    <meta name="description" content="{{ category_name }}: Шорт-лист (Top20 самых популярных) в России за {{ period }}. Плюс - новинки. Фильтр по целям использования и базовым характеристикам." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, {{ category_name }}"  />
    <link rel="canonical" href="https://allgid.ru/{{ action }}"/>
{% endblock %}

{% block category %}

<div class="how_listing">
    <h1 class="how_general_header">Как выбрать устройство для своих целей и задач?<br>Отвечают эксперты</h1>
    <div class="how_general_header_comment"> Статьи снабжены актуальными шорт-листами популярных моделей устройств</div>
    {% for cat_rus_name, cat in categories_list %}
        {% if listing|get_item:cat_rus_name %}
        <a href="/how/{{ cat }}/">
            <div class="how_cat_block"><h2>{{ cat_rus_name }}</h2></div>
        </a>
        {% for i in listing|get_item:cat_rus_name %}
        <div class="how-listing-item">
        <div class="how-listig-item-text">
        <a href="/how/{{ cat }}/{{ i.id_html_name }}" target="_blank" class="how_listing_title_href">
            <h3 class="how_listing_title_h2">{{ i.article_title }}</h3>
            <p class="how_listing_anno_p">                {% if i.img %}
                    <img src="{{ i.img }}" alt="" height="100px" align="right" vspace="4">
            {% endif %}
                {{ i.article_anno }}

            </p>
        </a>
        </div>


        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
</div>


{% endblock %}