{% extends "al_page.html" %}
{% block meta %}
    <title>{{ article.article_title }}</title>
    <meta name="description" content="{{ article.article_anno|truncatechars_html:160 }}" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://allgid.ru/{{ action }}"/>
{% endblock %}

{% block category %}

<div class="article-wrap">
    <div class="article-content">
        <div class="article-backlink-listing">
            <a href="/rate/">Рейтинги</a> &rArr; <a href="/rate/{{ category }}/">{{ cat_rus }}</a>
    </div>
    <div class="ttx_article_div">
        <h1 class="ttx_article_h1">{{ article.article_title }}</h1>
    </div>

  {% autoescape off %}
    <div class="article_body">

        {{ article.article_html_body }}
    </div>
   {% endautoescape %}
    </div> <!-- article-content -->
    <div class="article-right">
  {% autoescape off %}
    <div class="article_body">
        {{ article.article_keywords }}
    </div>
   {% endautoescape %}
    </div>
</div>

</div>

{% endblock %}