{% extends "al_page.html" %}
{% block meta %}
    <title>Гид покупателя. {{ category_name }}</title>
    <meta name="description" content="{{ category_name }}: Шорт-лист (Top20 самых популярных) в России за {{ period }}. Плюс - новинки. Фильтр по целям использования и базовым характеристикам." />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="компьютеры, периферия, рейтинг, популярность, популярные, новинки, дом, офис, цены, модель, характеристики, выбрать, фильтр, критерий, критериии, сравнение, сценарии использования, выбор продукта, выбор покупателей, {{ category_name }}"  />
    <link rel="canonical" href="https://allgid.ru/{{ action }}"/>
{% endblock %}

{% block category %}

<div class="article-wrap">
    <div class="article-content">
        <div class="article-backlink-listing">
            <a href="/rate/">Рейтинги</a> &rArr; <a href="/rate/{{ category }}/">{{ cat_rus }}</a>
    </div>
    <div class="ttx_article_div">
        <h1 class="ttx_article_h1">{{ article.article_title }}</h1>
    </div>

  {% autoescape off %}
    <div class="article_body">

        {{ article.article_html_body }}
    </div>
   {% endautoescape %}
    </div> <!-- article-content -->
    <div class="article-right">
  {% autoescape off %}
    <div class="article_body">
        {{ article.article_keywords }}
    </div>
   {% endautoescape %}
    </div>
</div>

</div>

{% endblock %}